canvas {
    pointer-events: none;       /* make the canvas transparent to the mouse - needed since canvas is position infront of image */
    position: absolute;
}
.venoframe {
	padding: 1%!important;
}

img[usemap], map area { 
	border: none!important; 
}

area { 
	outline:none!important;
} 
